.checkoutProduct{
    display: flex;
    margin-top: 30px;
    margin-bottom:30px ;
}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__info >button{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: aquamarine;
    border: 1px solid;
    border-color:   rgb(98, 196, 163) rgb(98, 196, 163) rgb(98, 196, 163);
    border-radius: 3px;
    margin-top: 10px;
    color: black;

    background-image: linear-gradient(-180deg,  rgb(130, 255, 213) 0%,  rgb(109, 216, 180));
}

.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating{
    display: flex;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight:700;
}