.productview__main{
    display: flex;
    
}

.productview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    transition: box-shadow .3s;
}
.productview__rating{
    display: flex;
}
.productview > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.productview__info{
    height: 100px;
    margin-bottom: 15px;
}

.productview > button{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 18px;
    padding-right: 18px;
    border: 1px solid;
    border-color:   #ffafbd #ffafbd  #ffc3a0;
    border-radius: 3px;
    margin-top: 10px;
    color: black;
    background-image: linear-gradient(to right, #ffafbd,  #ffc3a0);
	
}

table{
    width: 50%;
    padding-bottom: 20px;
}
td{
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.productview__description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    transition: box-shadow .3s;
}

.bold{
    font-weight: 600;
}


ul{
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 1100px) {
    .productview__main{
        flex-wrap: wrap;
    }
}



model-viewer#reveal {
    --poster-color: transparent;
  }

  model-viewer > #ar-prompt {
    position: absolute;
    left: 50%;
    bottom: 175px;
    animation: elongate 2s infinite ease-in-out alternate;
    display: none;
  }

  model-viewer[ar-status="session-started"] > #ar-prompt {
    display: block;
  }

  model-viewer > #ar-prompt > img {
    animation: circle 4s linear infinite;
  }


  .AR__button{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid;
    border-color:   #ffafbd #ffafbd  #ffc3a0;
    border-radius: 3px;
    margin-top: 10px;
    color: black;
    background-image: linear-gradient(to right, #ffafbd,  #ffc3a0);
  }

